:root {
  font-size: 16px;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#toggleInfoBtn,
#closeInfoBtn{
    display: none;
}

p,
button,
li{
    font-family: "Inter", serif;
}
h1,
h2,
h3,
h4{
    font-family: "Ubuntu", serif;
}
h1{
    font-size: 2.5rem; /* 40px */
}
h2{
    font-size: 2rem; /* 32px */
}
h3{
    font-size: 1.5rem; /* 24px */
}
h4{
    font-size: 1.2rem; /* 19.2px */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #f5f5f5;
}
header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border-style: none;
    background-color: rgb(250,250,250);
    cursor: pointer;
}
.section-base {
    width: 93%;
    height: 100vh; /* 920px */
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.window-base {
    height: 78%;
    border-top: 0.125rem solid rgb(189,170,138);
    border-right: 0.125rem solid rgb(189,170,138);
    border-left: 0.125rem solid rgb(189,170,138);
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background-color: rgb(250,250,250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cta-container{ 
    padding: 0.25rem;
    border: 0.0625rem solid white;
}
    .btn-cta-container .btn-cta{
        background-color: rgb(189,170,138);
        padding: 0.875rem 5rem; /* 14px 80px */
        border-style: none;
        font-family: Inter, serif;
        font-size: 1.25rem;
        color: rgb(50,49,63);
        font-weight: 500;
        cursor: pointer;
    }
    .btn-cta-container .btn-cta:hover{
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    }
/* :::::NAV: Menu::::: */
.menu{
    height: 4.875rem; /* 78px */
    width: 100%;
    padding: 0 3.5% 0 3.5%;
    background-color: rgba(50,49,63, 0.8);
    /* border: 0.125rem solid rgba(50,49,63,0.7); */
    position: fixed;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .menu .items{
        height: 100%;
        width: 80%!important;
        display: flex;
        gap: 1rem;
    }
    .menu .items{
        width: 41.6%;
    }
        .menu .items li{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16.6%;  
            height: 100%;
        }
        .li-focus,
        .menu .items .nav-hover:hover{
            background-color: rgba(17,47,102,0.5);
            border: 0.0625rem solid rgba(88,125,230,0.6);
            border-radius: 0.0625rem;
        }
            .menu .items li a{
                color: rgb(250,250,250);
                width: 100%;
                padding: 1.75rem 0; /* 28px */
                text-align: center;
                font-size: 1rem;
            }
            .menu-left .btn-language,
            .menu-left .btn-official-page,
            .menu-left .btn-cta-container2 {
                margin-left: auto; /* empuja estos a la derecha */
                display: flex;
                align-items: center;
            }
            .menu-left .btn-language{
                width: 20%;
            }
            .menu .items .btn-official-page{
                width: 20%;
            }
            .menu .items .btn-cta-container2{
                width: 20%;
            }
                .menu .items .btn-language a{
                    border-radius: 1.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .menu .items .btn-official-page a{
                    border: 0.0625rem solid rgba(88,125,230,0.6);
                    padding: 0.625rem 0!important;
                    border-radius: 1.25rem;
                    width: 100%;
                    text-align: center;
                    background-color: rgba(17,47,102,0.5);
                    color: rgb(250,250,250);
                }
                .menu .items .btn-cta-container2 a{
                    border: 0.0625rem solid rgba(88,125,230,0.6);
                    display: flex;
                    padding: 0.625rem 0!important;
                    justify-content: center;
                    gap: 0.625rem;
                    color: rgb(50,49,63);
                    background-color: rgb(189,170,138);
                    border-radius: 1.25rem;
                    width: 100%;
                }
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 1.5rem;
        height: 1.25rem;
        cursor: pointer;
        z-index: 100;
    }
        .hamburger span {
            height: 0.2rem;
            background: white;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
/* :::::Termina NAV: Menu::::: */

/* :::::Sección principal: Introduction::::: */
.introduction{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .introduction video{
        position: absolute;
        min-width: 100%;
        object-fit: cover;
        z-index: -10;
    }
    .introduction .introduction-content{
        position: relative;
        z-index: 10;
        top: 20.5%;
        text-align: center;
        color: white;
        width: 37.8%;
    }
        .introduction .introduction-content h1{
            font-weight: 450;
            font-style: italic;
            line-height: 160%;
        }
        .introduction .introduction-content p{
            font-family: "Ubuntu", serif;
            font-size: 1.5rem;
            font-weight: 300;
            font-style: italic;
            margin-top: 1.25rem; /*20px*/
        }
        .introduction .btn-cta-container{
            position: relative;
            top: 26.2%;
        }
        .introduction .btn-cta-container:hover{
            position: relative;
            top: 25.8%;
            padding: 0.25rem;
            border: 0.0625rem solid rgb(189,170,138);
        }
/* :::::Termina Sección principal: Introduction::::: */

/* :::::Sección: Galería de personajes::::: */
    .header-section {
        display: flex;
        align-items: center;
        /* gap: 10rem; 160px */
        margin-bottom: 0.5rem; /* 8px */
        align-self: flex-start;
        padding-left: 3.4%;
    }
        .title-section {
            display: flex;
            gap: 1.25rem; /* 20px */
        }
            .title-section h2 {
                font-style: italic;
                color: rgb(34,28,108);
            }
        .header-section .cta-duo {
            display: flex;
        }
        .btn-cta-container .btn-cta {
            font-size: 1rem;
        }
        .btn-cta-container .btn-cta-blue {   
            background-color: rgba(88,125,230,0.6);
            padding: 0.875rem 5rem; /* 14px 80px */
            border-style: none;
            font-family: Inter, serif;
            font-size: 1rem;
            color: rgb(50,49,63);
            font-weight: 400;
            cursor: pointer;
        }
        .btn-cta-container .btn-cta-blue:hover {
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
        }
.gallery-container {
    position: relative;
    width: 73.3%;
    height: 83.7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contenedor principal de personaje */
.character-display {
    position: relative;
    width: 90.10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Imagen del personaje */
    .character-display img {
        position: relative;
        z-index: 30;
        object-fit: contain;
        transition: opacity 1s ease-in-out;
    }
    .character-display #characterName {
        transition: opacity 1s ease-in-out;
    }
/* Barra de contraste */
.contrast-bar {
    position: absolute;
    bottom: 8vh;
    left: 0;
    width: 0%;
    height: 2.5rem; /* 40px */
    background-color: rgba(50, 49, 63);
    z-index: 20;
    transition: width 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    .contrast-bar h3 {
        width: 36%;
        text-align: center;
        color: rgb(189,170,138);
    }
.characterNameBackground {
    height: 2.5rem; /* 40px */
}
/* Información del personaje */
.characters-section .header-section {
    padding-left: 0;
    gap: 10rem;
}
.character-info {
    position: absolute;
    right: 0%;
    width: 34.4%;
    height: fit-content;
    background-color: rgb(250,250,250);
    border: 0.125rem solid rgb(189,170,138);
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#characterDetails{
    padding: 0 1.25rem 1.25rem 1.25rem; /* 0 20px 20px 20px */
}
.character-info p {
    background-color: rgb(189,170,138);
    min-height: 9rem;
    width: 100%;
    padding: 2.2vh 1.2vw;
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(50,49,63);
    text-align: center;
    line-height: 160%;
    overflow: visible;
}
.character-info ul {
    list-style: none;
    padding: 0;
    margin: 0.3125rem 0 0 0; /* 5px */
    height: 25.875rem; /* 414px */
    width: 100%;
}
.character-info li {
    width: 23.8125rem; /* 381px */
    font-size: 1rem;
    font-weight: 500;
    color: rgb(50,49,63);
    display: flex;
    align-items: center;
    min-height: 2.5rem; /* 40px */
    line-height: 150%;
    margin-bottom: 1rem; /* 16px */
}
.character-info .icon-item {
    margin-right: 0.625rem; /* 10px */
}
.character-info .icon {
    margin-left: 1rem;
}
/* Botones manejadores */
.nav-button {
    position: absolute;
    top: 69%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 50;
}
.nav-button:hover {
    top: 68%;
}
.nav-button img:hover {
    width: 120%;
}
.nav-button.prev {
    left: 0;
}
.nav-button.next {
    right: 0;
}
/* :::::Termina Sección: Galería de personajes::::: */

/* :::::Empieza Sección: Adéntrate en la imponente Teyvat::::: */
.section-base-bg {
    width: 100%;
    height: 100vh; /* 920px */
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.window-base-bg {
    width: 93%;
    height: 78%;
    border-top: 0.125rem solid rgb(189,170,138); /* 2px */
    border-right: 0.125rem solid rgb(189,170,138);
    border-left: 0.125rem solid rgb(189,170,138);
    border-top-left-radius: 0.625rem; /* 10px */
    border-top-right-radius: 0.625rem;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.features-section {
    background-image: url('../img/backgrounds/forest-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
    .features-section .header-section {
        gap: 4rem; 
    }
        .features-section .header-section .title-section h2 {
            color: rgb(250,250,250);
        }
    .features-section .features p {
        align-self: flex-start;
        font-size: 1.5rem; /* 24px */
        font-style: italic;
        font-weight: 400;
        color: rgb(137,137,137);
        margin: 2% 0 5rem 2.4%; /* 0 0 80px */
    }
    .features-section .features .features-cards-container {
        width: 74.75%;
        height: 29.125rem!important; /* 466px */
        display: flex;
        padding-left: 2rem;
        gap: 2rem; /* 32px */
    }
    .features-cards-inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

        .features-section .features .features-cards-container .features-cards-inner .feature-card-one,
        .features-section .features .features-cards-container .features-cards-inner .feature-card-two,
        .features-section .features .features-cards-container .features-cards-inner .feature-card-three {
            border: 0.125rem solid white;
            border-top-left-radius: 0.625rem;
            border-top-right-radius: 0.625rem;
            width: 33%;
            height: 100%;
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: flex-end;
        }
            .features-section .features .features-cards-container .features-cards-inner .feature-card-one h3,
            .features-section .features .features-cards-container .features-cards-inner .feature-card-two h3,
            .features-section .features .features-cards-container .features-cards-inner .feature-card-three h3 {
                background-color: rgba(50,49,63,0.9);
                color: rgb(250,250,250);
                padding: 0.375rem 0; /* 6px */
                text-align: center;
                width: 100%;
            }
            .features-section .features .features-cards-container .features-cards-inner .feature-card-one p,
            .features-section .features .features-cards-container .features-cards-inner .feature-card-two p,
            .features-section .features .features-cards-container .features-cards-inner .feature-card-three p {
                background-color: rgba(50,49,63,0.5);
                color: rgb(250,250,250);
                padding: 0.375rem 0.375rem; /* 6px */
                text-align: center;
                font-size: 1.1rem;
                line-height: 160%;
                width: stretch;
                min-height: 5.5rem; /* 88px */
                max-height: 12.5rem; /* 200px */
                margin: 8px 8px 16px 8px;
            }
            .features-section .features .features-cards-container .feature-card-one {
                background-image: url('../img/cards/inazuma-card.jpg');
                background-size: cover;
                background-position: top;
            }
            .features-section .features .features-cards-container .feature-card-two {
                background-image: url('../img/cards/pyro-card.gif');
                background-size: cover;
                background-position: top;
            }
            .features-section .features .features-cards-container .feature-card-three {
                background-image: url('../img/cards/sumeru-card.jpg');
                background-size: cover;
                background-position: top;
            }

/* :::::Termina Sección: Adéntrate en la imponente Teyvat::::: */


/* :::::Empieza Sección: Gameplay: Trailer::::: */
.gameplay-section .header-section {
    gap: 2.2rem;
}
    .gameplay-section .gameplay p {
        align-self: flex-start;
        font-size: 1.5rem; /* 24px */
        font-style: italic;
        font-weight: 400;
        color: rgb(50,49,63);
        margin: 2% 0 5rem 2.4%; /* 0 0 80px */
    }

    .gameplay {
        text-align: center;
        background-color: #1E1E29;
        color: #fff;
    }

    .video-container {
        margin: 1.25rem auto; /* 20px */
        border-radius: 0.625rem; /* 10px */
        overflow: hidden;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); /* 4px 8px */
    }

    .video-container video {
        width: 100%;
        height: auto;
    }

    .cta-button {
        font-family: Inter, serif;
        font-weight: 300;
        font-size: 0.9rem;
        display: inline-block;
        margin-top: 1.25rem; /* 20px */
        padding: 0.625rem 1.875rem; /* 10px 30px */
        color: #fff;
        background: #808080;
        border-radius: 0.0625rem; /* 1px */
        text-decoration: none;
        transition: background 0.3s;
    }

    .cta-button:hover {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2); /* 2px 4px */
    }
/* :::::Termina Sección: Gameplay: Trailer::::: */

/* :::::Empieza Sección: Eventos::::: */
.news-events-section {
    background-image: url('../img/backgrounds/background-2.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}
    .news-events-section .header-section{
        gap: 7.8rem;
    }
    .news-events-section .header-section .title-section h2 {
        color: rgb(250,250,250);
    }

    .news-events-section .window-base-bg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem; /* 32px */
    }

    .news-events-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem; /* 32px */
        width: 74rem; /* 1184px */
        height: 32.075rem; /* 513.2px */
        background-color: rgb(250,250,250);
    }

    .image-large {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-color: #dcd2bf;
        border-radius: 0.5rem; /* 8px */
        background-image: url('../img/cards/event-two.jpg');
        background-size: cover;
        background-position: center;
    }

    .event-details {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: center;
    }

    .event-details h2 {
        font-size: 1.8rem;
        color: #808080;
        margin-bottom: 1rem; /* 16px */
    }

    .event-details p {
        font-size: 1rem;
        color: #a0a0a0;
        line-height: 160%;
    }

    .image-small {
        grid-column: span 1;
        grid-row: 2 / 3;
        background-color: #dcd2bf;
        border-radius: 0.5rem; /* 8px */
        background-image: url('../img/cards/event-gif.gif');
        background-size: cover;
        background-position: center;
    }
/* :::::Termina Sección: Eventos::::: */





/* :::::Empieza Footer::::: */
footer {
    background-color: #1E1E29;
    height: 38.75rem; /* 620px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .social-media ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 43.75rem; /* 700px */
    }

.terms-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* 16px */
}

    .terms-logo ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 42.875rem; /* 686px */
        margin-bottom: 1.25rem; /* 20px */
    }

        .terms-logo ul li a {
            color: rgb(250,250,250);
            font-size: 0.875rem;
            font-weight: 300;
        }

.hoyoverse-brand {
    text-align: center;
    color: rgb(250,250,250);
}

    .hoyoverse-brand p {
        font-size: 0.875rem;
        font-weight: 400;
        margin-top: 1.25rem; /* 20px */
    }
/* :::::Termina Footer::::: */

/* === Desktop styles: están fuera de la media query === */

/* Estilo base: desktop */
.character-info {
  position: static; /* o relative, como lo tengas */
  width: 100%;
  opacity: 1;
  transform: none;
}

/* ::::: Media Queries  ::::: */
@media (max-width: 768px) {
  /* ========== TIPOGRAFÍA Y ESTRUCTURA GENERAL ========== */


  body {
    font-size: 0.9375rem; /* 15px base */
  }

  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1.125rem; }

.d-none{
    display: none;
}

.section-base-bg {
    width: 100%;
    height: 100vh; /* 920px */
    margin: 0;
    background-color: rgb(250,250,250);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.window-base-bg {
    width: 100%;
    padding: 0 1rem;
    height: 70vh;
    border-top: 0.125rem solid rgba(189, 170, 138, 0); /* 2px */
    border-right: 0.125rem solid rgba(189, 170, 138, 0);
    border-left: 0.125rem solid rgba(189, 170, 138, 0);
    border-top-left-radius: 0.625rem; /* 10px */
    border-top-right-radius: 0.625rem;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ========== NAV (Menú) ========== */

/* Mobile behavior */
.hamburger {
    display: flex;
}
  .menu .items {
    display: none!important;
    flex-direction: column;
    height: fit-content!important;
    background-color: rgba(50,49,63,0.95);
    position: absolute;
    top: 4.6rem;
    left: 0;
    padding: 1rem 1rem!important;
    text-align: center;
    z-index: 99;
    gap: 0;
  }
  .items.open {
    display: flex!important;
    width: 100%!important;
  }
    .items.open li {
    width: 100%;
  }
    .items.open li a{
        padding-left: 5%;
        text-align: left;
    }
    .menu-left .btn-language,
    .menu-left .btn-official-page,
    .menu-left .btn-cta-container2 {
        display: flex;
        align-items: center;
    }
        .menu-left .btn-language{
            width: 100%!important;
        }
        .menu .items .btn-official-page{
            width: 100%;
        }
        .menu .items .btn-cta-container2{
            width: 100%;
        }
        .menu .items .btn-official-page a{
            margin-bottom: 0.5rem;
        }

  /* ========== INTRODUCCIÓN ========== */
  .introduction {
    height: 100vh!important;
    justify-content: center;
  }
    .introduction video{
        position: absolute;
        object-fit: cover;
        z-index: -10;
    }
    .introduction .introduction-content {
        width: 90%;
        position: relative;
        top: -14vh;
        background-color: rgba(50, 49, 63, 0.2);
        padding: 2rem 0;
    }
        .introduction-content h1{
            font-size: 2rem;
            padding: 0 2rem;
        }
        .introduction-content p{
            line-height: 1.5;
            padding: 0 2rem;
        }
    .introduction .btn-cta-container {
        top: 6rem!important;
    }

  /* ========== GALERÍA PERSONAJES ========== */
  .header-section {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }
    .characters-section .header-section {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
  }
    .characters-section .header-section .cta-duo{
        gap: 0.2rem;
    } 
    .characters-section .header-section .btn-cta-container .btn-cta {
        font-size: 1rem;
        padding: 0.875rem 0.6rem;
    }
    .characters-section .header-section .btn-cta-container .btn-cta-blue {
        font-size: 1rem;
        padding: 0.875rem 1rem;
    }
    
  .title-section{
    width: 90%;
  }
    .title-section h2{
        font-size: 1.8rem;
        line-height: 1.3;
    }
    #characters{
        height: 115vh!important;
    }
    #characters .window-base{
        border: 0;
        max-height: 88vh;
    }

  .gallery-container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .character-display {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 2vh;
  }
  .character-display #characterImg{
    height: 70vh;
  }
  .character-info li {
    width: 100%;
    flex-wrap: wrap;
    color: #5B5B5B;
    font-size: 1.1rem;
  }

    /* Mostrar flechas siempre en mobile */
    .nav-button {
        display: block !important;
        bottom: -6.3vh;
    }
    .nav-button img:hover{
        width: 100%;
    }
    .character-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, transform 0.5s ease;
        transform: translateY(100%); /* inicialmente oculta */
        pointer-events: none;
        z-index: 40; /* encima de la imagen */
        border: none;
    }
    .character-info p{
        font-weight: 400;
        padding: 2.2vh 2.6vw;
    }

    /* Inicialmente ocultar info en mobile */

    /* Cuando está abierta */
    .character-info.open {
        max-height: 90vh; /* o lo que necesites */
        height: fit-content;
        transform: translateY(0);
        pointer-events: auto;
        z-index: 70;
        position: absolute;
    }
    .contrast-bar{
        bottom: 6vh;
        z-index: 40;
        height: 3.5rem;
    }
    .contrast-bar h3{
        width: 100%;
        font-size: 1.5rem;
    }
    #toggleInfoBtn,
    #closeInfoBtn{
        display: flex;
    }

    /* Botón para abrir/cerrar info */
    .character-toggle-btn {
        color: #5B5B5B;
        border: 1px solid #5B5B5B;
        padding: 0.5rem 0.8rem;
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 300;
        cursor: pointer;
        border-radius: 0.4rem;
        gap: 8px;
        align-items: center;
    }
        .character-toggle-btn img{
            height: 18px;
        }

    .character-toggle-btn.close {
        background-color: #5b5b5b00;
        font-weight: 300;
        color: #5B5B5B;
        margin-bottom: 1rem;
        justify-self: right;
        margin-right: 1rem;
        gap: 8px;
        font-size: 0.9rem;
    }

  /* ========== FEATURES ========== */
  .features-section .header-section {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
    .features-section .features p{
        margin: 2rem;
        font-size: 1.2rem;
    }
    .features-cards-container {
        position: relative;
        width: 100%!important;
        overflow: hidden;           /* importante para que se vea solo 1 */
        position: relative;
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
    .features-cards-inner {
        display: flex;
        gap: 1.8rem;
        transition: transform 0.5s ease;
        padding-left: 1.2rem!important;
        padding-right: 1.2rem!important;
    }
    .features-cards-inner > div {
    min-width: 76vw;          /* cada card ocupa el 80% */
    flex-shrink: 0;
    margin: 0 auto;           /* centrado */
    }
    .feature-card-one,
    .feature-card-two,
    .feature-card-three{
        border: none!important;
    }
    .nav-left-arrow,
    .nav-right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 50;
    }

    .nav-left-arrow { left: 0; height: 100%; width: auto; background-color: rgb(250, 250, 250, 0.8);}
    .nav-right-arrow { right: 0; height: 100%; width: auto; background-color: rgb(250, 250, 250, 0.8);}

    .nav-left-arrow img,
    .nav-right-arrow img {
    height: auto;
    width: 90%;
    }

  /* ========== TRAILER ========== */
  .gameplay-section .header-section {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .gameplay{
    width: 100%;
    background-color: #1E1E29;
  }
  .video-container {
    width: 100%;
  }

  /* ========== EVENTOS ========== */

  .news-events-section .header-section{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  .news-events-grid {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
    display: flex;
  }

  /* ========== FOOTER ========== */
  footer {
    height: auto;
    padding: 2rem 1rem;
  }
  .social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.875rem;
  }
    .social-media ul{
        width: 90%;
    }
    .social-media ul li a img{
        height: 1.875rem;
    }
  
    .terms-logo{
        width: 100%;
        gap: 1.775rem;
    }
    .terms-logo .logo-small {
        width: 45%;
    }
    .terms-logo img{
        width: 45%;
    }
    .terms-logo ul {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;
    }
    .hoyoverse-brand{
        width: 100%;
        margin-top: 1.775rem;
    }
        .hoyoverse-brand img{
            width: 40%;
        }
}
